.gameCoverContainer {
    width: 30%;
    max-width: 250px;
    min-width: 180px;
    height: 270px;
    margin: 10px 0;
    padding: 0;
    position: relative;
    cursor: pointer;

    .coverImage {
        width: 100%;
        height: 150px;
        border-radius: 5px;
    }

    .titleCover {
        color: $title3;
        font-weight: 900;
        font-size: 1.5rem;
        text-align: start;
        margin: 5px;
        white-space: normal;
        max-lines: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .starsContainer {
        position: absolute;
        background: $white;
        display: flex;
        right: 0;
        height: 20px;
        justify-content: end;
        align-items: center;

        i {
            color: #FFB02E;
            font-size: 1rem;
            margin: 0 2px;
        }
    }

    .paragraphCover {
        margin: 0 5px;
    }
}

.gameCoverContainer:hover {
    filter: brightness(70%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

@media (max-width:600px) {
    .gameCoverContainer {
        width: 45%;
        max-width: unset;
        min-width: unset;
    }

}