.containerGirl1 {
    background: $soft_gray;
    width: 100%;
    min-height: calc(100vh - 70px);
    height: fit-content;
    display: flex;


    .containerStart {
        width: 35%;
        padding: 10% 3% 5% 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .startText {
            height: calc(100% - 80px);

            h1 {
                font-size: 2rem;
                font-weight: bold;
                color: $title3
            }

            h2 {
                color: $title1;
                font-size: 2rem;
                font-weight: bold;
            }

            p {
                margin-top: 1.5rem;
                font-size: 1rem;
                color: $title3
            }
        }

        .startButton {
            width: 100%;
            height: 80px;

            button {
                width: 50%;
                height: 100%;
                color: $white;
                border: none;
                position: relative;
                font-size: 1rem;
                cursor: pointer;
            }

            button:focus {
                outline: none;
            }

            i {
                position: absolute;
                top: 52%;
                transform: translateY(-50%);
            }

            .randomGameButton {
                background: $background3;
                padding-left: 5%;
                i {
                    left: 10%;
                }

            }

            .premiumButton {
                background: $title1;
                padding-right: 5%;
                i {
                    right: 10%;
                }
            }

            button:hover {
                transform: scale(1.1);
                z-index: 2;
            }
        }
    }

    .imgGirl1 {
        width: 65%;
        height: auto;
        object-fit: cover;
    }
}

.containerAllResources {
    width: 94%;
    background: red;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: fit-content;

    .containerAll {
        width: 68%;
        background: green;
        height: 800px;
    }

    .containerNews {
        width: 28%;
        background: greenyellow;
        height: 800px;
    }

}

@media (max-width: $adaptation) {
    .containerGirl1 {
        display: block;
        position: relative;
        height: calc(100vh - 70px);
        min-height: 600px;

        .containerStart {
            padding: 10% 3% 5% 3%;
            justify-content: end;
            width: 100%;
            height: calc(100vh - 70px);
            position: absolute;
            box-sizing: border-box;
            z-index: 1;
            min-height: 600px;

            .startText {
                height: fit-content;
                background: rgba(255, 255, 255, 0.644);
            }
        }

        .imgGirl1 {
            width: 100%;
            height: calc(100vh - 70px);
            position: absolute;
            min-height: 600px;
        }
    }
}


@media (max-width: $adaptation) {
    .containerAllResources {
        display: block;

        .containerAll {
            width: 100%;
        }

        .containerNews {
            width: 100%;
        }
    }

}