*{ padding: 0; margin: 0; font-family:'Roboto Slab', serif}


$title1:#302F7B;
$title2:#E62F1D;
$title3:#141106;
$background1:white;
$background2:purple;
$background3:#303030;
$white:white;
$soft_gray:#F0F0F0;

$font1: 'Roboto Slab', serif;
$adaptation:870px;

